secrets.yaml
html5_push_registrations.conf
known_devices.yaml
entity_registry.yaml
google_calendars.yaml
plex.conf
.DS_Store
.HA_VERSION
.ios.conf
.uuid
.storage
.spotify-token-cache
.august.conf
.google.token
home-assistant.log
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
tts/
www/
*.pyc
__pycache__
custom_components/
OZW_Log.txt
*.sqlite
*.xml