homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: !secret home_elevation
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: America/Vancouver
  currency: CAD
  country: CA
  customize: !include misc/customize.yaml
  auth_providers:
    - type: homeassistant
# Enables the frontend
frontend:
  themes: !include_dir_merge_named themes/
  extra_module_url:
    - /hacsfiles/material-you-utilities/material-you-utilities.min.js
panel_custom:
  - name: material-you-panel
    url_path: material-you-configuration
    sidebar_title: Material You Utilities
    sidebar_icon: m3of:colors
    module_url: /hacsfiles/material-you-utilities/material-you-utilities.min.js
# Enable logging
logger:
  default: warn
  logs:
    custom_components.pyscript: info
recorder:
  purge_keep_days: 2
  exclude:
    entities:
      - sensor.time
      - sensor.album_art
      - sensor.mopidy_album_art_url
      - sensor.hourly_weather_data
      - sensor.daily_weather_data
      - sensor.weather_hourly_forecasts_full_hourly_forecast
      - sensor.outdoor_temperature
      - sensor.outdoor_humidity
      - sensor.weather_condition_icon
      - sensor.rainfall_forecast_today
      - sensor.forecast_uv_index
      - sensor.forecast_cloud_coverage
      - sensor.forecast_rainfall
      - sensor.forecast_wind_speed
      - sensor.forecast_wind_direction
      - sensor.forecast_temperature
      - sensor.next_rain_summary
      - sensor.24h_rainfall_summary
      - sensor.uv_and_cloud_summary
      - sensor.wind_summary
      - sensor.moon_summary
      - sensor.vancouver_summary
# Enable lovelace
lovelace:
  mode: yaml
  resources:
    - url: /hacsfiles/apexcharts-card/apexcharts-card.js
      type: module
    - url: /hacsfiles/Bubble-Card/bubble-card.js
      type: module
    - url: /hacsfiles/button-card/button-card.js
      type: module
    - url: /hacsfiles/calendar-card-pro/calendar-card-pro.js
      type: module
    - url: /hacsfiles/lovelace-expander-card/expander-card.js
      type: module
    - url: /hacsfiles/llmvision-card/llmvision-card.js
      type: module
    - url: /hacsfiles/mediocre-hass-media-player-cards/mediocre-hass-media-player-cards.js
      type: module
    - url: /hacsfiles/lovelace-mushroom/mushroom.js
      type: module
    - url: /hacsfiles/mini-graph-card/mini-graph-card-bundle.js
      type: module
    - url: /hacsfiles/lovelace-navbar-card/navbar-card.js
      type: module
    - url: /hacsfiles/simple-swipe-card/simple-swipe-card.js
      type: module
    - url: /hacsfiles/home-assistant-simple-tabs/simple-tabs.js
      type: module
    - url: /hacsfiles/timer-bar-card/timer-bar-card.js
      type: module
    - url: /hacsfiles/lovelace-auto-entities/auto-entities.js
      type: module
    - url: /hacsfiles/lovelace-card-mod/card-mod.js
      type: module
    - url: /hacsfiles/config-template-card/config-template-card.js
      type: module
    - url: /hacsfiles/kiosk-mode/kiosk-mode.js
      type: module
    - url: /hacsfiles/lovelace-layout-card/layout-card.js
      type: module
    - url: /hacsfiles/lovelace-material-components/material-components.js
      type: module
    - url: /hacsfiles/material-you-utilities/material-you-utilities.min.js
      type: module
    - url: /hacsfiles/my-cards/my-cards.js
      type: module
    - url: /hacsfiles/lovelace-paper-buttons-row/paper-buttons-row.js
      type: module
    - url: /hacsfiles/stack-in-card/stack-in-card.js
      type: module
    - url: /hacsfiles/streamline-card/streamline-card.js
      type: module
    - url: /hacsfiles/vertical-stack-in-card/vertical-stack-in-card.js
      type: module
    - url: /hacsfiles/lunar-phase-card/lunar-phase-card.js
      type: module
    - url: /hacsfiles/weather-forecast-extended/weatherforecastextended.js
      type: module
    - url: /hacsfiles/clock-weather-card-hui-icons/clock-weather-card-hui-icons.js
      type: module
    - url: /hacsfiles/mini-media-player/mini-media-player-bundle.js
      type: module
# Enables configuration UI
config:
mobile_app:
http:
  # ip_ban_enabled: true
  # login_attempts_threshold: 5
  use_x_forwarded_for: true
  trusted_proxies:
    - !secret reverse_proxy_ip_1
    - !secret reverse_proxy_ip_2
    - !secret reverse_proxy_ip_3
# Allows you to issue voice commands from the frontend in enabled browsers
conversation:
# Enables support for tracking state changes over time.
history:
# View all events in a logbook
logbook:
# Enable system log events
system_log:
  fire_event: true
# Track the sun
sun:
# Enable cloud
cloud:
# Include sensors
sensor: !include_dir_merge_list sensors/
# binary_sensor: !include_dir_list binary_sensors/
# Text to speech
tts:
  platform: google_translate
# Enable iOS app
# ios:
#   push:
#     categories: !include notifications/ios.yaml
notify:
  - name: all_devices
    platform: group
    services:
      - action: mobile_app_jennis_iphone
      - action: mobile_app_pixel_10_pro
      - action: mobile_app_pixel_watch
  - name: justin_devices
    platform: group
    services:
      - action: mobile_app_pixel_10_pro
      - action: mobile_app_pixel_watch
  - name: jenni_devices
    platform: group
    services:
      - action: mobile_app_jennis_iphone
google_assistant:
  project_id: !secret assistant_project_id
  service_account: !include hass-9d73d-ca2bdb903217.json
  exposed_domains:
    - switch
    - light
    - script
    - media_player
  expose_by_default: false
  entity_config: !include googleassistant/entityconfig.yaml
pyscript:
  allow_all_imports: true
  hass_is_global: true
grad_vol:
switch: !include_dir_list switches/
light: !include_dir_merge_list lights/
input_number: !include misc/input_number.yaml
input_boolean: !include misc/input_boolean.yaml
input_select: !include misc/input_select.yaml
group: !include groups.yaml
automation: !include_dir_merge_list automations/
script: !include_dir_merge_named scripts/
shell_command: !include shell_command.yaml
wake_on_lan:
template: !include_dir_merge_list template/
alert: !include_dir_merge_named alerts/